
.play_as {
	margin-bottom: 10px;
}

.player {
	border: 1px solid black;
	height: 50px;
	width: 148px;
	text-align: center;
	vertical-align:middle;
}

.player h2{
	margin: 0px;	
}

.board {
	border-collapse: collapse;
}

.square {
	border: 1px solid black;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align:middle;
}

.square h2 {
	margin: 0px
}

.outcome {
	width: 300px;
	text-align: center;
	vertical-align: middle;
}

.newGame {
	width: 300px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	background-color: gray;
}

.newGame h2 {
	margin: 0px;
	margin-top: 10px;
}

#X {
	background-color: lightblue;
}